# Virtual Environment
.venv/
__pycache__/
*.pyc

# Local Vector Database & Cache
my_vector_db/
.fastembed_cache/

# Local SQL Databases & Backups
*.db
*.xlsx

# Machine Learning Model & Vectorizer files
*.pkl

# Environment variables & Credentials
.env